<!DOCTYPE html>
<html lang="en">
  <head>

    <title>AngularJS Calculator example</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
     body {
        font-family:sans-serif;
        background-color: #f5f5f5;
    }
    div {
        margin:20px 5px;
    }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div ng-app="app">
      <div ng-controller="CalculatorController">
          Enter a number:
          <input type="number" ng-model="number" />
          <button ng-click="doSquare()">X<sup>2</sup></button>
          <button ng-click="doCube()">X<sup>3</sup></button>
           
          <div>Answer: {{answer}}</div>
      </div>
    </div> <!-- End: ng-app -->

  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="js/calculator.js"></script>

  </body>
</html>